# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node Modules
node_modules/

# Build Output
dist/
dist-ssr/

# Local Environment Files
.env
.env.local
.env.development
.env.production
.env.test

# Vite cache
.vite/
.cache/

# Local override files
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db

# Visual Studio related
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?