@import "tailwindcss";

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-image: url("/body_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@font-face {
  font-family: "Georama";
  src: url("/fonts/Georama-VariableFont_wdth,wght.ttf") format("truetype"); /* in public/fonts */
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.text-georama {
  font-family: "Georama", sans-serif;
}

.char {
  -webkit-user-select: none;
  user-select: none;
}

.lm-char {
  -webkit-user-select: none;
  user-select: none;
  line-height: 1;
  padding: 0 0.5px;
}

.lm-wrapper {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.tooltip {
  padding: 4px 8px !important;
  font-size: 11px !important;
  font-weight: 500;

  border-radius: 6px !important;

  background: rgba(241, 239, 239, 0.75) !important;
  color: black !important;

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);

  transform: translateY(-4px);
  transition: all 0.15s ease-in-out;
}
.tooltip[data-state="delayed-open"] {
  opacity: 1;
  transform: translateY(-6px);
}

.tooltip[data-state="closed"] {
  opacity: 0;
  transform: translateY(0px);
}
